:root{
  --bg-color-1:#252530;;
  --bg-color-2:#545454;
  --bg-color-3:#FFFFFF;
  --bg-color-4:#1423FF;
  --bg-color-5:#FFB469;
  --bg-color-6:#77008F;
  --bg-color-7:#FF9ED8;
  --bg-color-8:#000000;
  --bg-color-9:#363643;
  


  --color-1:#ebebeb;;
  --color-2:#545454;
  --color-3:#FFFFFF;
  --color-4:#1423FF;
  --color-5:#FFB469;
  --color-6:#77008F;
  --color-7:#FF9ED8;
  --color-8:#000000;
   --color-9:#545260;

  --font-family-1:'Mulish', sans-serif;
  --font-family-2:'Corben', serif;
  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color-1);
    color: var(--color-1);
    font-family: var(--font-family-1);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
}
header{
   width: 100%;
   padding-top: 1.5em;
   padding-bottom: 1.5em;

}
.header-section{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
}

.header-section__header-logo{
  display: flex;
}
.header-section__header-logo__link img{
  height: 1.5em;
  
}

.header-section__header-nav{
    position: relative;
    text-align: center;
    justify-content: flex-end;
    z-index: 3;
}

.header-section__header-nav ul,
.header-section__header-nav li,
.header-section__header-nav a {
    display: inline-block;
}

.header-section__header-nav nav{
    font-size: 15px;
}

.header-section__header-nav a{
    text-decoration: none;
    position: relative;
    margin: 0 0.2em;
    padding: 0.2em;
    color: var(--color-3);
}

.header-section__header-nav a::before{
    content: ' ';
    position: absolute;
    top: 0em;
    right: -0.3em;
    width: 0.5em;
    height: 0.5em;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    border-radius: 7px;
    color: var(--color-2);

}

.header-section__header-nav a:hover::before
{
    background-color:var(--bg-color-2) ;
}

.header-section__header-nav a:active::before
{
    background-color: var(--bg-color-5);
}

.nav-item-get-search__svg{
    color: var(--color-3);
    height: 1em; 
    padding-left: 0.5em;
    cursor: pointer;
}

// Side message section
.description-section{
    font-size: 13px;
    font-weight:800;
    line-height: 1.4;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    max-width: 90vh;
    height: 7em;
    margin: auto;
    transform: rotate(-90deg) translate(-50%, 2em);
    transform-origin: 0 50%;
    text-align: center;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
}

// Pinned section 
.pinned-section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15em;
    position: relative;
}

.pinned-section  .pinned-label{
    position: absolute;
    height: 1.5em;
    width: 5em;
    top: 1em;
    left: 5em;
    font-size: 12px;
    transform: translate(-50%);
    border-radius: 25px;
    background-color: var(--bg-color-3);
    color: var(--color-8);
    text-transform: uppercase;
    font-family: var(--font-family-1);
    font-weight: bolder;
}

.pinned-section a{
    color: var(--color-3);
    text-decoration: none;
}

.pinned-content > .pinned-content__title-1{
    font-size: 30px;
    width: 400px;
}

.pinned-section .pinned-content{
    position: absolute;
    bottom: 25px;
    padding-left: 25px;
    font-family: var(--font-family-2);
    font-weight: 700;
    text-align: start;
    width: 350px;
}

.pinned-content .pinned-content__meta{
    margin-bottom: 10px;
    font-family: var(--font-family-1);
    font-size: 13px;
}

.pinned-section__pinned-wrap{
    display: grid;
    text-align: center;
    grid-template-columns: 580px 832px;
    grid-template-areas: 
   "item1 item2"
    ;
  padding: 0.4em;
  gap: 1em;
  height: 27em;
}

.pinned-section__pinned-wrap__pinned-item{
    position: relative;
    display: flex;
}

.pinned-section__pinned-wrap__pinned-item:nth-child(1){
    background-color: transparent;
    grid-area: item1;
    opacity: 0.8;
   
    
}
.pinned-section__pinned-wrap__pinned-item:nth-child(1):hover{
    transform: translateY(-3px);
}

.pinned-section__pinned-wrap__pinned-item:nth-child(1)::before{

    content: ' ';
    background-image:url("https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    background-size: cover;
    background-repeat: no-repeat;  
    position: absolute;
    height: 26em;
    width: 100%;
    border-radius: 16px;
    opacity: 0.8;
    cursor: pointer;
   
}

.pinned-section__pinned-wrap__pinned-item:nth-child(2){
    grid-area: item2;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 1fr;
    text-align: center;
    grid-template-areas: 
    "item2 item3"
    "item4 item5"
    ;
  gap: 1em;
}

.pinned-item-2{
    position: relative;
    display: flex;
    height: 200px;
    border-radius: 16px;
}

.pinned-item-2:hover{
 transform: translateY(-3px);
}

.pinned-item-2:nth-child(1){
    background-color: var(--bg-color-4);
    cursor: pointer;
}

.pinned-item-2:nth-child(2){
    background-color: var(--bg-color-5);
     color: #000000;
    cursor: pointer;
}

.pinned-item-2:nth-child(3){
    background-color: var(--bg-color-6);
    cursor: pointer;

}

.pinned-item-2:nth-child(4) {
    background-color: var(--bg-color-7);
    color: #000000;
    cursor: pointer;
}

.pinned-item-2:nth-child(2) a ,
.pinned-item-2:nth-child(4) a{
    color: #000000;
    text-decoration: none;
}
.pinned-item-2:nth-child(2) .pinned-label,
.pinned-item-2:nth-child(4) .pinned-label{
    background-color: var(--bg-color-8);
}

.pinned-item-2:nth-child(1) .pinned-label{
    color:var(--color-4);
}

.pinned-item-2:nth-child(2) .pinned-label{
    color: var(--color-5);
}
.pinned-item-2:nth-child(3) .pinned-label{
   color: var(--color-6);
}
.pinned-item-2:nth-child(4) .pinned-label{
   color: var(--color-7);
}

.pinned-item-2:nth-child(1)::before{
     content: ' ';
    background-image:url("https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 16px;
    opacity: 0.2;
}

.pinned-item-2:nth-child(3)::before{
     content: ' ';
    background-image:url("https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;
    border-radius: 16px;
    opacity: 0.3;
}
.pinned-item-2:nth-child(4)::before{
     content: ' ';
    background-image:url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;
    border-radius: 16px;
    opacity: 0.3;
}

// Subscribe Section
.subscribe-section{
    position: relative;
    margin: 10vh auto -10vh;
}

.subscribe-wrap{
    margin: 0 auto;
    text-align: center;
}

.subscribe-wrap__subscribe-content{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 70px 50px;
}

.subscribe-wrap__subscribe-content__subscribe-form{
    display: block;
    margin-top: 0em;
}

.subscribe-title{
    font-size: calc(38px + 0%);
    line-height: 1.45;
    max-width: 650px;
    margin: 0 auto;
    padding: 15px 0;
    font-weight: 700;
    font-family: var(--font-family-2);
}

.subscribe-type {
  display: grid;
  place-items: center;
  max-width: 450px;
  margin: 0 auto 40px;
}

.subscribe-writting-text {
  animation: typing 15s steps(40), blink 0.6s step-end infinite ;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  font-weight: 800;
  border-right: 1px solid;
  line-height: 1.5;
  font-family: var(--font-family-1);
  animation-iteration-count: infinite;

}

@keyframes typing {
    0%{
        width: 0;
    }

    50%{
        width: 55%;
    }

    100%{
        width: 0;
    }
}

@keyframes blink {
  30% {
    border-color: transparent;
  }
}

.subscribe-wrap__subscribe-content__subscribe-form input,
.subscribe-wrap__subscribe-content__subscribe-form button
{
    font-family: var(--font-family-1);
    border: none;
    display: block;
}

.subscribe-wrap__subscribe-content__subscribe-form input{
    width: 65%;
    height: 45px;
    margin: 20px auto 30px;
    color: var(--color-9);
    font-size: 18px;
    border-bottom: 2px solid var(--color-3);
    cursor: text;
    letter-spacing: normal;
    line-height: 1.15;
    overflow: visible;
    color:var(--color-1);
    background-color: transparent;
    text-align: center;
    outline: none;
}
.subscribe-wrap__subscribe-content__subscribe-form input:hover{
   transform: scaleX(1.2);
   transition: 0.5s;
}

.subscribe-wrap__subscribe-content__subscribe-form button{
    width: 165px;
    height: auto;
    color: var(--color-1);
    background-color: var(--bg-color-9);
    border-radius: 16px;
    font-size: 12px;
    margin: 5px 0 0 0;
    margin-top: 20px;
    padding: 32px 35px 31px;
    cursor: pointer;
    outline: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
   
}

.subscribe-wrap__subscribe-content__subscribe-form button:hover{
    background-color: var(--bg-color-5);
    color: var(--color-8);
}
