@use "../shared/variables/spacing";
@use "../shared/variables/fonts";
@use "../shared/variables/colors";
@use "../shared/inheritance/mixins";

.footer-section{
    padding-top: 5vh;
    flex-shrink: 0;

    &__footer_wrap{
        align-items: center;
        margin: 8vh auto 0;
        max-width: spacing.$max-width-wrap;
        @include mixins.display-flew-wrap;

        & .footer-nav{
            line-height: 1.1;
            padding: 0 0 5px 10px;

            & ul{
                margin: 0;
                padding: 0;
                display: block;
            }

            & li {
                display: inline-block;
                font-size: 13px;
                font-weight: fonts.$font-family-secondary;
            }

            & a {
                text-decoration: none;
                position: relative;
                margin: 0 0.2em;
                padding: 0.2em;
                color: colors.$bg-secondary-color;
            }

            a::before {
                content: ' ';
                position: absolute;
                top: 0em;
                right: -0.3em;
                width: 0.5em;
                height: 0.5em;
                transition-timing-function: ease;
                transition-duration: 0.3s;
                border-radius: 7px;
                color: colors.$secondary-text-color;
            }

            a:hover::before{
                background-color:colors.$secondary-text-color;
            }

            a:active::before{
                background-color: colors.$color-apricot;
            }
        }

        & .footer-icons{
            flex: 0 0 60%;
            justify-content: flex-end;
            padding-right: 2px;
            @include mixins.display-flew-wrap;

            & svg{
                width: 19px;
                height: 19px;
                margin: 20px;
            }

        }
            
        & .footer-icons_svg{
               transition: fill 0.2s ease;
               fill:colors.$primary-text-color ;
                &:hover{
                fill:colors.$color-apricot !important;   
            }

            & a{
                line-height: 1;
            
            }   
        }

        & .footer-copyright{
            font-size: 10px;
            line-height: 1.3;
            padding:10px 30px 30px 15px;
            text-align: left;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            opacity: 0.8;
            
            & a{
                text-decoration: none;
                color:colors.$primary-text-color ;
            }
        }
    }
   
}