@use "../shared/variables/fonts";
@use "../shared/inheritance/mixins";
@use "../shared/variables/colors";
@use "../shared/variables/spacing";


.pinned-section{
    @include mixins.display-flew-wrap;
    padding: 0 15em;
    position: relative;
    color: colors.$global-color;

    & .pinned-label{
        position: absolute;
        height: 1.5em;
        width: 5em;
        top: 1em;
        left: 5em;
        font-size: 12px;
        transform: translate(-50%);
        border-radius: 25px;
        text-transform: uppercase;
        font-family:fonts.$font-family-primary ;
        font-weight:fonts.$font-weight-bolder;
        color: colors.$global-primary-color;
        background-color: colors.$global-color;
    }

    & a{
        color: colors.$global-color;
        text-decoration: none;
    }

    & .pinned-content{
        position: absolute;
        bottom: 10px;
        padding-left: 25px;
        font-family:fonts.$font-family-secondary;
        font-weight: fonts.$font-weight-bold;
        text-align: start;
        & .pinned-content__meta{ 
            font-family: fonts.$font-family-primary;
            font-size: 13px;    
        }
    }

    &__pinned-wrap{
        display: grid;
        text-align: center;
        grid-template-columns: 580px 832px;
            grid-template-areas: 
        "item1 item2"
            ;
        padding: 0.4em;
        gap: 1em;
        height: 27em;

        &__pinned-item{
            @include mixins.position;
     
            &:nth-child(1){
                background-color: transparent;
                grid-area: item1;
                opacity: 0.8;
                & h3{
                    font-size: 30px;
                    width: 400px;
                }
            }

            &:nth-child(1):hover{
                transform: translateY(-3px);
            }

            &:nth-child(1)::before{
                content: ' ';
                background-image:url("https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
                background-size: cover;
                background-repeat: no-repeat; 
                background-position: center; 
                position: absolute;
                height: 26em;
                width:spacing.$width-scale ;
                border-radius: spacing.$common-border-radius;
                opacity: 0.8;
                cursor: pointer;
            }

            &:nth-child(2){
                grid-area: item2;
                display: grid;
                grid-template-columns: minmax(auto, 1fr) 1fr;
                text-align: center;
                grid-template-areas: 
                "item2 item3"
                "item4 item5"
                ;
                gap: 1em;
                h3{
                    width: 320px;
                }
            }
        }

    }       


}

.pinned-item-2{
    @include mixins.position;
    height: 200px;
    border-radius: spacing.$common-border-radius;
    &:hover{
        transform: translateY(-3px);
    }

    &:nth-child(1){
        background-color: colors.$color-blue;
        cursor: pointer;
        & .pinned-label{
            color:colors.$color-blue ;
        }
    }

    &:nth-child(2){
        background-color: colors.$color-apricot;
        color: colors.$global-primary-color;
        cursor: pointer;
        & .pinned-label{
            color:colors.$color-apricot ;
        }
    }

    &:nth-child(3){
        background-color:  colors.$color-pulple;
        cursor: pointer;
        .pinned-label{
            color:colors.$color-pulple ;
        }
    }

    &:nth-child(4) {
        background-color:colors.$color-pink ;
        color: colors.$global-primary-color;
        cursor: pointer;
        & .pinned-label{
            color:colors.$color-pink ;
        }
    }

    &:nth-child(2),
    &:nth-child(4){
        & a{
            text-decoration: none;
            color: colors.$global-primary-color;
        }
    }

    &:nth-child(2),
    &:nth-child(4){
        & .pinned-label{
            background-color: colors.$global-primary-color;
        }
    }

    &:nth-child(1)::before{
        content: ' ';
        background-image:url("https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: spacing.$width-scale;
        border-radius: spacing.$common-border-radius;
        opacity: 0.2;
    }

    &:nth-child(3)::before{
        content: ' ';
        background-image:url("https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
        background-size: cover;
        background-repeat: no-repeat;  
        background-position: center;
        height: spacing.$height-scale;
        width: spacing.$width-scale;
        border-radius: spacing.$common-border-radius;
        opacity: 0.3;
    }

    &:nth-child(4)::before{
        content: ' ';
        background-image:url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center; 
        height: spacing.$height-scale;
        width: spacing.$width-scale;
        border-radius: spacing.$common-border-radius;
        opacity: 0.3;
    }
}

.subscribe-section{
    & .subscribe-wrap{
    margin: 0 auto;
    text-align: center;

        &__subscribe-content{
            width: spacing.$width-scale;
            max-width: 800px;
            margin: 0 auto;
            padding: 70px 50px;
            &__subscribe-form{
                display: block;
                margin-top: 0em;
            } 
        }  
       
    }
}

form{
    & .subscribe-title{
        font-size: calc(38px + 0%);
        line-height: 1.45;
        max-width: 650px;
        margin: 0 auto;
        padding: 15px 0;
        font-weight: 700;
        font-family:fonts.$font-family-secondary;
    }

    & .subscribe-type {
        display: grid;
        place-items: center;
        max-width: 450px;
        margin: 0 auto 40px;
    }

   &  .subscribe-writting-text {
        animation: typing 15s steps(40), blink 0.6s step-end infinite ;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        font-weight: 800;
        border-right: 1px solid;
        line-height: 1.5;
        font-family:fonts.$font-family-primary;
        animation-iteration-count: infinite;
    }

    @keyframes typing {
        0%{
            width: 0;
        }

        50%{
            width: 55%;
        }

        100%{
            width: 0;
        }
    }

    @keyframes blink {
        30% {
            border-color: transparent;
        }
    }

    & input {
        @include mixins.input;
        font-family:fonts.$font-family-primary;
        border: none;
        display: block;
        border-bottom: 2px solid colors.$global-color;
        &:hover{
            transform: scaleX(1.2);
            transition: 1s;
        }
    }

    & button{
        font-family:fonts.$font-family-primary;
        border-radius: spacing.$common-border-radius;
        border: none;
        &:hover{
            background-color: colors.$color-apricot;
            color: colors.$global-primary-color;
        }
    }
}

.loop-section{
   margin-bottom: 10px;
   position: relative;
   z-index: 1;

   & .loop-small-heading{
    margin: 30px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family:fonts.$font-family-primary;
    font-weight: fonts.$font-weight-bold;
   width: 100%;
   }

  &__loop-wrap-1{
    width: spacing.$width-scale;
    max-width: spacing.$max-width-wrap;
    margin: 0 auto;
    @include mixins.display-flew-wrap;

    & .loop-item-1{
       @include mixins.section-loop-item;
        &__loop-content-wrap-1{
            width: spacing.$width-scale;
        }
        &::before{
            content: ' ';
            background-image:url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=850&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ");
            @include mixins.universal-img;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    & .loop-item-2{
       @include mixins.section-loop-item;
        background-color: #FED672;
        &__loop-content-wrap-2{
            width: spacing.$width-scale;
        }
        &::before{
            content: ' ';
            background-image:url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=850&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ");
            @include mixins.universal-img;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.2;
        }
    }
    & .loop-item-3{
       @include mixins.section-loop-item;
        background-color: transparent;
        &::before{
            content: ' ';
            background-image:url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=850&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ");
            @include mixins.universal-img;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.7;
        }
    }
  }
}

.loop-content-1{
    width: spacing.$width-scale;
    & .loop-tags-1{
       @include mixins.section-loop-tags;
        & a{
            @include mixins.universal-a;
             
        }
    }

    & .loop-title-1{
       @include mixins.section-loop-title;
        & svg{
           @include mixins.section-svg;
            fill: #ebebeb;
        }
        & a{
           @include mixins.section-loop-title-a;
        }
        & span{
            position: absolute;
            & .loop-svg-1{
                transition: fill 0.2s ease;
            }
        }
    }

    & .title-3{
        width: 90%;
    }

    & h2 {
       @include mixins.sections-h2; 
    }

    & .loop-meta-1{
       @include mixins.section-loop-meta;
        & a{
          @include mixins.sections-loop-meta-a;
        }
    }
    
     & .loop-meta-1{
       @include mixins.section-loop-meta;
        & a{
          @include mixins.sections-loop-meta-a;
        }
    }

}

.loop-content-2{
    width: spacing.$width-scale;
     color: #333350;
    & .loop-tags-2{
       @include mixins.section-loop-tags;
        & a{
            @include mixins.universal-a;
            color: #333350;
            border-color:  #333350;
             
        }
    }

    & .loop-title-2{
       @include mixins.section-loop-title;
        & svg{
           @include mixins.section-svg;
            fill: #333350;;
        }
        & a{
           @include mixins.section-loop-title-a;
            color: #333350;
        }
        & span{
            position: absolute;
            & .loop-svg-2{
                transition: fill 0.2s ease;
            }
        }
    }

    & h2 {
       @include mixins.sections-h2; 
    }
    & .loop-excerpt{
        font-size: 20px;
        line-height: 1.35;
        width: 80%;
        max-width: 850;
        padding: 12px 0;
        margin: 30px 0;
        font-weight: 400;
        font-family: fonts.$font-family-primary;
        &::before{
            content: " ";
            position: absolute;
            top: 17.5em;
            border-top: 2px solid #333350;
            width: 1.7em;
        }

    }
    & .loop-meta-2{
       @include mixins.section-loop-meta;
        & a{
          @include mixins.sections-loop-meta-a;
        }
    }

     & .loop-meta-2{
       @include mixins.section-loop-meta;
        & a{
            @include mixins.sections-loop-meta-a;
            color: #333350;
        }
    }

}

.pagination-section{
    margin: 0 auto;
    padding: 0 55px;

    & .pagination-wrap{
        justify-content: center;
        margin: 0 auto;
        max-width: spacing.$max-width-wrap;
        @include mixins.display-flew-wrap;
    }

    & .loadmore{
        width: calc(80% - 40px);
        border-radius: none;
        margin-top: 10px;
        font-weight: fonts.$font-weight-bolder;
        border-radius: spacing.$common-border-radius;
        background-color: #363643;
        border: none;
        
      &:hover{
        background-color:colors.$color-apricot ;
        color: colors.$global-primary-color;

      }
    }
}

.description-section{
    font-size: 13px;
    font-weight:800;
    color: #FFFFFF;
    line-height: 1.4;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    max-width: 90vh;
    height: 7em;
    margin: auto;
    transform: rotate(-90deg) translate(-50%, 2em);
    transform-origin: 0 50%;
    text-align: center;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
}