$primary-text-color:#ebebeb;
$secondary-text-color:#545454;

$bg-primary-color:#252530;
$bg-secondary-color:#FFFFFF;
$bg-extra-color:#363643;

$color-blue:#1423FF;
$color-pink:#FF9ED8;
$color-pulple:#77008F;
$color-apricot:#FFB469;

$global-color:#FFFFFF;
$global-primary-color:#000000;
